
body{
    margin: 0;
    padding: 0;
}

.ingredients-page{
    background-color: gray;
}

h4{
    font-size: 22px;
    padding-top: 25px;
}

.ingredients-section{
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    height: 75vh;
    display: flex;
    flex-direction: row;
}

h4{
    text-align: center;
}

.ingredients-picture{
    background-color: white;
    height: 450px;
    width: 75%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto; 
}

.ingredients-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 570px;
    width: 50%;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    padding-bottom: 15px;
}

.lotta-text{
    margin-bottom: auto;
}

.instructions-button button{
    background-color: white;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    font-size: 18px;
}

.ingredients-button button{
    background-color: white;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    font-size: 18px;
}

button.active{
    background-color: green;
    color: white;
}

.lotta-text{
    width: 50%;
}